


<mat-card>

<h2>Ingresar</h2>
<div class="error">
    <p>{{errors.emptyerror}}</p>
</div>

<form (submit)='login($event)'>
    <div class="user space">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Usuario o Email</mat-label>
            <input matInput placeholder="Escriba aqui" [(ngModel)]="currentUser.username" name="username" id="username">
        </mat-form-field>
    </div>
    <div class="error">
        <p>{{errors.adminerror}}</p>
    </div>
    
    <div class="pass space">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Escriba aqui" name="password" id="password" [(ngModel)]="currentUser.password">
        </mat-form-field>
    </div>
    <div class="error">
        <p>{{errors.passworderror}}</p>
    </div>
    

    <div class="space">
        <button mat-raised-button color="primary">Ingresar</button>
    </div>
</form>

<div class="forgot">
    <a href="olvide/contra">¿Olvidaste tu contraseña?</a>
</div>

</mat-card>